/* the * indicates that the following section is a universal selector.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Applies style to the header html tag*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 30px;
}

/*Applies style to the body html tag*/
body {
    background-color: #d9dcd6;
}

/*Applies style to the nav html tag*/
nav {
    display: flex;
    background-color: #2a607c;
    color: #ffffff;
}
/*Applies style to the h1 html tag*/
h1 {
    display: flex;
    justify-content: left;
    padding: 0px 100px 0px 0px;
}

/*This style changes the color of the 'seo' in Horiseon.*/
.seo {
    color: #d9dcd6;
}

/*Applies style to the a html tag within nav tags*/
nav a {
    display: flex;
    padding-top: 20px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    /*The justify-content horizontally aligns the nav bar content to the right.*/
    justify-content: right;
    color: #ffffff;
    text-decoration: none;
}

/*Applies style to the hero class*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

p {
    font-size: 16px;
}

/*Applies style to the float-left class*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Applies style to the float-right class*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Applies style to the content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Applies style to the search-engine-optimization class*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Applies style to the online-reputation-management class*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Applies style to the social-media-marketing class*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Applies style to the img tag within the search-engine-optimization class*/
.search-engine-optimization img {
    max-height: 200px;
}

/*Applies style to the img tag within the online-reputation-management class*/
.online-reputation-management img {
    max-height: 200px;
}

/*Applies style to the img tag within the social-media-marketing class*/
.social-media-marketing img {
    max-height: 200px;
}

/*Applies style to the h2 tag within the search-engine-optimization class*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Applies style to the h2 tag within the online-reputation-management class*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Applies style to the h2 tag within the social-media-marketing class*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Applies style to the benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Applies style to the benefit-lead class*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Applies style to the benefit-brand class*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Applies style to the benefit-cost class*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Applies style to the h3 tag within the benefit-lead class*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Applies style to the h3 tag within the benefit-brand class*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Applies style to the h3 tag within the benefit-cost class*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Applies style to the img tag within the benefit-lead class*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Applies style to the img tag within the benefit-brand class*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Applies style to the img tag within the benefit-cost class*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Applies style to the footer tag*/
footer {
    display: none;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


